

main {
    font-family: inter,sans-serif;
    
}
main > div {
    margin-left: 11px;
}


.padrao{
    width: 340px;
    margin: auto;
    
}

.apresentacao {
    padding-top: 200px;
}

.ap_img{
    display: none;
}



.apresentacao h3 {
    
    color:white;
    font-weight: 300;
    font-size: 1.1em;

    /*margin-top: 17px;*/


}
.apresentacao h1{
    

    font-family: GT Walsheim Pro, 'sans-serif';
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 30px;

    background: linear-gradient(90deg, #7404BF 4.38%, #33D2FF 52.19%, #0029FA 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.apresentacao p {
    margin-top: 40px;
    margin-bottom: 50px;
    
    width: 300px;
    
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 2em;
    
}

.bt_cv{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: 'Khula', sans-serif;
    font-weight: bold;
    color: white;
    height: 50px;
    width: 80%;
    background-color: #222121;
    border-radius: 50px;
    border: 1px solid rgba(128, 0, 128, 0.358);
    
}
.bt_cv:hover {
    color: rgb(126, 6, 122);
    border: 1px solid rgba(128, 0, 128, 0.912);

}

.redes_ap {
    display: flex;
    width: 70%;
    justify-content: space-around;
    margin: auto;
    margin-top: 80px;
}



h2{
    font-size: 20px;
    font-weight: 300;

}

.conhecimentos{
    margin-top: 50px;
}

.conhecimentos_caixas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;

    width: 320px;
    margin: auto;

    margin-top: 2.5em;
}


.caixa_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #181818;
    border-radius: 3px;
    width: 118px;
    height: 118px;
    overflow: hidden; /* Para esconder o texto que pode extrapolar a borda */
  }
  
  
  .overlayText {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
  }
  
  .caixa_logo:hover .overlayText {
    opacity: 1;
  }

.caixa_logo:hover {
    border: 1px solid;
    border-image: linear-gradient(to right, #975fff, #7be6fe);
    border-image-slice: 1;
}


.projetos { 
    margin: auto;
    margin-top: 50px;

    border-top: 1px solid gray;

    padding-top: 20px;

    width: 340px;

    
    
}

.projetos h2 {
    text-align: center;
}





.experiencias {
    margin-top: 50px;
    padding-top: 20px;

    border-top: 1px solid gray;
}

.bts {
    display: flex;
    margin-top: 30px;
}
.bts button {
    width: 50%;
    height: 40px;
    
    border: none;
    color: white;
    font-size: 1.1em;
    border-radius: 3px;
}

.bt_cargill{
    background-color: #2e2e2e;
    cursor: pointer;
    
}

.bt_sprink{
    background-color: transparent;
    cursor: pointer;
    
}

.cargill, .sprink {
    margin-top: 30px;
    
}

.data{
    font-size: 13px;
    font-weight: 200;
    color: #C4C4C4;
}

.cargo {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 300;
}

.empresa{
    margin-top: 10px;
    font-size: 14px;
    font-weight: 200;
    color: #6CACE4;
}

.cargill>div, .sprink>div{
    margin-top: 20px;
}
.cargill>div>p, .sprink>div>p{
    margin-top: 10px;
}

.sprink {
    display: none;
    
}
.cargill{
    display: block;
}

.apresentacao, .conhecimentos, .projetos, .experiencias, .nome, .texto, .bt_cv, .rede1, .rede2, .rede3 {
    visibility: hidden;
}

.caixa1, .caixa2, .caixa3, .caixa4, .caixa5 {
    visibility: hidden;
}
@media screen and (min-width: 780px)
 {

    main{
        width: 80%;
    }
    .padrao{ width: 90%;}

    .apresentacao{
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #2e2e2e;
        border-radius: 5px;
        padding-bottom: 30px;
        

    }
    .ap_img{
        display: block;
        width: calc(400px + 20%);
        margin: auto;
        border-radius: 5px;
        
    }
    .apresentacao h3 {
        font-size: 2em;
        text-indent: 10%;
        padding-top: 20px;
        
    }
    .apresentacao h1{
        font-size:4em ;
        text-indent: 10%;
    }
    .apresentacao p {
        font-size: 1.5em;
        width: 90%;
        text-align: start;
        padding-left: 10%;
    }

    .caixa_logo {
        width: 150px;
        height: 150px;
    }
    .projetos h2{
        font-size: 2em;

    }

    .projetos> div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        
    }

    .data{
        font-size: 18px;
        
    }
    
    .cargo {
        
        font-size: 25px;
        
    }
    
    .empresa{
        font-size: 20px;

    }

    .sprink >div p, .cargill>div p {
        font-size: 1.3em
    }
    


}

.conhecimentos_img{
    display: none;
}
.conhecimentos_img img{
    width: 400px;
    border-radius: 50%;
    margin-top: 30px;
}




@media screen and (min-width: 1500px){
    .apresentacao{
        flex-direction: row;
        justify-content: space-between;
    }
    .apresentacao div {
        width: 50%;
        margin-right: 1px;
    }
    .ap_img{
        width: 90%;
    }
    

    .conhecimentos h2{
        font-size: 1.5em;
        
    }
    .conhecimetos_flex{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
    }
    .conhecimentos_img {
        display: block !important;
    }
    .conhecimentos_caixas{
        grid-template-columns: 1fr 1fr 1fr;
    }
    
}