.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    margin-top: 30px;
    padding-bottom: 50px;
    width: 100%;
    
    border-top: 0.01px solid #C6C6C6;
    



}

.footer p {
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: lighter;
}