.header {
    display: flex;
    flex-direction: column;
}

.topo_header {
    display: flex;
    align-items: center;
    justify-content: space-around;



    height: 125px;
    width: 100%;
    

}

.logo_passaro {
    width: 157px;
    height: 81px;

    cursor: pointer;
}

.icon img {
    width: 40px;
    height: 40px;
}
.navbar {
    display: none;
}

.navbar_link {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-size: 1.5em;
    margin-top: 50px;
    font-family: 'Mulish', sans-serif;

}

.link {
    margin-top: 50px;
    text-decoration: none;
    color: white;
    font-family: 'Mulish', sans-serif;
}

.link:hover {
    color: rgb(140, 0, 255);
    border-bottom: 1px solid rgba(255, 255, 255, 0.531);
}