.header {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid ;
    border-image: linear-gradient(90deg, #7e40f0, #7be6fe , rgb(2, 2, 221));
    border-image-slice: 1;
    
}

.topo_header {
    display: flex;
    align-items: center;
    justify-content: space-around;



    height: 125px;
    width: 100%;
    

}

.logo_passaro {
    width: 157px;
    height: 81px;

    cursor: pointer;
}

.icon img {
    width: 40px;
    height: 40px;
}
.navbar {
    display: none;
    
    background-color: #111111;
}

.navbar_link {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-size: 1.5em;
    margin-top: 50px;
    font-family: 'Mulish', sans-serif;

}

.link {
    margin-top: 50px;
    text-decoration: none;
    color: white;
    font-family: 'Mulish', sans-serif;
}

.link:hover {
    color: rgb(140, 0, 255);
    border-bottom: 1px solid rgba(255, 255, 255, 0.531);
    box-shadow: 0px 5px 5px rgba(128, 0, 128, 0.188);
}

@media screen and (min-width: 768px) {
    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: baseline;
        
    }
    .topo_header {
        width: auto;
    }

    .icon {
        display: none;
    }
    .navbar{

        display: block !important;
        height: 10px;
    }
    .navbar_link{
        flex-direction: row;
        height: auto;
        margin-top: 0;
        
        
    }
    .link {
        margin-right: 40px;
    }
}